@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@media only screen and (max-width: 500px) {
  body {
    padding-right: 5%;
    padding-left: 5%;
  }
}
@media only screen and (max-width: 800px) and (min-width: 500px) {
  body {
    padding-right: 10%;
    padding-left: 10%;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 800px) {
  body {
    padding-right: 15%;
    padding-left: 15%;
  }
}
@media only screen and (max-width: 1300px) and (min-width: 1000px) {
  body {
    padding-right: 20%;
    padding-left: 20%;
  }
}
@media only screen and (max-width: 1600px) and (min-width: 1300px) {
  body {
    padding-right: 25%;
    padding-left: 25%;
  }
}
@media only screen and (max-width: 1900px) and (min-width: 1600px) {
  body {
    padding-right: 30%;
    padding-left: 30%;
  }
}
@media only screen and (max-width: 2200px) and (min-width: 1900px) {
  body {
    padding-right: 35%;
    padding-left: 35%;
  }
}
@media only screen and (min-width: 2200px) {
  body {
    padding-right: 30%;
    padding-left: 30%;
  }
}
@media only screen and (min-width: 1500px) {
  img {
    width: 70% !important;
  }
}
p,
footer,
cite,
ul,
ol,
details,
figcaption,
blockquote,
body,
textarea,
button,
input,
select,
table,
option {
    font-family: 'Atkinson Hyperlegible', sans-serif;
}
legend {
  font-weight: bold;
}
a {
  color: #111166;
}
body,
textarea,
input,
select {
  color: black;
  background-color: #f9f9f9;
}
button {
  border-radius: 10em;
  padding: 0.5em 1em;
  border: 0;
  background-color: #333;
  color: white;
  font-size: 1.1em;
}
button:hover {
  background-color: #444;
  transition: 0.1s;
  transform: scale(1.03);
}
button:active {
  background-color: #222;
  transition: 0.05s;
  transform: scale(0.97);
}
textarea {
  border-radius: 1em;
  padding: 1em;
}
select:focus,
textarea:focus,
select option,
input:focus {
  outline: none;
}
img {
  width: 100%;
}
figcaption {
  text-align: center;
  margin-top: 0.5em;
}
img {
  border-radius: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
mark {
  padding: 0 0.1em;
}
select,
option,
input {
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
}
table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
td, tbody, th, tr, tfoot {
    border: 3px solid black;
    padding: .3em .7em;
}
blockquote:before {
  content: '"';
  color: #999;
}
blockquote:after {
  content: '"';
  color: #999;
}
blockquote {
  border-left: 5px solid #bbb;
  padding-left: 1em;
}